body {
    background-color: rgba(224, 180, 139, 0.582);
}
header {
    background-color: #666;
    background-image: url(images/pyrography-1.jpg);
    background-size: cover;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(95, 25, 72);
  }
  
  /* Create two columns/boxes that floats next to each other */
  .first-nav {
    
    width: 100%;
    height: 20px; /* only for demonstration, should be removed */
    background: rgba(228, 78, 32, 0.404);
    padding: 20px;
    display: flex;
  }
  .second-nav {
    float: left;
    width: 20%;
    text-align: center;
    
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  
  .flex-container {
    float: right;
    padding: 20px;
    width: 74%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    
  }
  .second-flex-container {
    display: flex;
    flex-direction: row ;
  
    
  }
  .box1 {
    width: 37%;
  }
  .box2 {
    width: 37%;
  }

  /* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
  }
  .container {
    margin-left: 600px;
  }
  
  input[type=text], select, textarea {
    display: flex;
    flex-direction: row ;
    width: 40%; 
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  

  
  
  footer {
    background-color: rgb(12, 12, 12);
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    width: 100%;
  }
  
